# Google OAUTH (it's public, secret key isn't needed for auth)
REACT_APP_GOOGLE_CLIENT_ID=225467505847-jsc84081c3p0j4fdbe34sr203suq0tqi.apps.googleusercontent.com
REACT_APP_LOGO_STOCK_TOKEN=pk_VlIL8IHNSO-gsfxxUaPPKw
REACT_APP_STOCKS_VIEW_CACHE_KEY=stocks_view_cache