$primary: rgb(135 209 235);
$primary-text: rgb(0 53 67);
$primary-bg-subtle: rgb(0 78 96);
$primary-border-subtle: rgb(181 235 255);

.btn-primary {
  color: rgb(0 53 67) !important;
}

$secondary: rgb(179 202 212);
$secondary-text: rgb(29 51 59);
$secondary-bg-subtle: rgb(52 74 82);
$secondary-border-subtle: rgb(207 230 240);

$success: rgb(0, 255, 38);
$success-text: rgb(77, 255, 71);
$success-bg-subtle: rgb(66 68 101);
$success-border-subtle: rgb(224 224 255);

$danger: rgb(255 180 171);
$danger-text: rgb(105 0 5);
$danger-bg-subtle: rgb(147 0 10);
$danger-border-subtle: rgb(255 218 214);

$body-bg: rgb(15 20 22);
$body-color: rgb(222 227 230);

$surface: rgb(15 20 22);
$surface-color: rgb(222 227 230);

$gray-100: rgb(222 227 230);
$gray-200: rgb(207 230 240);
$gray-300: rgb(191 200 204);
$gray-400: rgb(137 146 150);
$gray-500: rgb(64 72 76);
$gray-600: rgb(52 58 60);
$gray-700: rgb(48 54 56);
$gray-800: rgb(37 43 45);
$gray-900: rgb(23 28 31);

$border-color: rgb(64 72 76);
$text-muted: rgb(137 146 150);

$light: rgb(52 58 60);
$dark: rgb(10 15 17);

$card-bg: rgb(27 32 35);
$card-cap-bg: rgb(37 43 45);

$modal-content-bg: rgb(27 32 35);

$input-bg: rgb(23 28 31);
$input-color: rgb(222 227 230);
$input-border-color: rgb(64 72 76);

$dropdown-bg: rgb(27 32 35);
$dropdown-link-color: rgb(222 227 230);

$list-group-bg: rgb(27 32 35);
$list-group-color: rgb(222 227 230);
$list-group-border-color: rgb(64 72 76);

$navbar-dark-color: rgb(222 227 230);
$navbar-dark-hover-color: rgb(135 209 235);

$btn-close-color: rgb(222 227 230);

$box-shadow:          0 0.5rem 1.5rem rgba(255, 255, 255, 0.25);
$box-shadow-inset:    inset 0 1px 3px rgba(255, 255, 255, 0.15);
$box-shadow-lg:       0 1rem 3rem rgba(255, 255, 255, 0.4);
$box-shadow-sm:       0 0.125rem 0.5rem rgba(255, 255, 255, 0.15);

@import 'bootstrap/scss/bootstrap';
// @import 'mdb-react-ui-kit/dist/css/mdb.min.css';

$price-up-color: rgb(0, 255, 38);     
$price-down-color: rgb(255, 68, 68);
$candle-up-color: rgb(45, 170, 64);
$candle-down-color: rgb(163, 30, 30);

:root {
  --bs-price-up-color: #{$price-up-color};     
  --bs-price-down-color: #{$price-down-color};
  --bs-candle-up-color: #{$candle-up-color};
  --bs-input-bg: #{$input-bg};
}

.text-price-up {
  color: $price-up-color;
}

.text-price-down {
  color: $price-down-color;
}

.round-square {
  width: 50px;
  height: 50px;
  border-radius: 8px;

  background: rgba(255, 255, 255, 0.06); /* pół przezroczyste */
  color: $gray-100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
}
