@use '../abstracts/variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  min-width: 100vw;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  background-color: $color-page-bg;
  color: $color-text-primary;
  line-height: $line-height-base;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}